<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Train</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>com.servlet.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findServlet</display-name>
    <servlet-name>findServlet</servlet-name>
    <servlet-class>com.servlet.findServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findServlet</servlet-name>
    <url-pattern>/findServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buyticket</display-name>
    <servlet-name>buyticket</servlet-name>
    <servlet-class>com.servlet.buyticket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buyticket</servlet-name>
    <url-pattern>/buyticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>choice</display-name>
    <servlet-name>choice</servlet-name>
    <servlet-class>com.servlet.choice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>choice</servlet-name>
    <url-pattern>/choice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.session.key</param-name>
      <param-value>session_code</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/kaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changepw</display-name>
    <servlet-name>changepw</servlet-name>
    <servlet-class>com.servlet.changepw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changepw</servlet-name>
    <url-pattern>/changepw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketPagingServlet</display-name>
    <servlet-name>TicketPagingServlet</servlet-name>
    <servlet-class>com.servlet.TicketPagingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketPagingServlet</servlet-name>
    <url-pattern>/TicketPagingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotelPagingServlet</display-name>
    <servlet-name>HotelPagingServlet</servlet-name>
    <servlet-class>com.servlet.HotelPagingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotelPagingServlet</servlet-name>
    <url-pattern>/HotelPagingServlet</url-pattern>
  </servlet-mapping>
</web-app>